<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of molecules</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 th:text="${name}"></h2><br />
<table><th>Image</th><th>SMILES</th><tr>
    <td>
        <img th:src="${image1}" />
    </td>
    <td>
        <p th:text="${smiles1}"></p>
    </td>
</tr>
<tr>
    <td>
        <img th:src="${image2}" />
    </td>
    <td>
        <p th:text="${smiles2}"></p>
    </td>
</tr>
</table><br /><br />
<p th:text="'Tanimoto coefficient: ' + ${tanimoto} + ''"></p>
</body>
</html>