<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of molecules</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a th:href="${first}">First example</a><br />
<a th:href="${second}">Second example</a><br />
<a th:href="${third}">Third example</a><br />
<a th:href="${fourth}">Fourth example</a><br />
</body>
</html>